.give-form-wrap {

	select {
		background-position: right center;
	}

	.give-donation-amount:before {
		display: block !important;
		margin: 0;
		font-size: .875rem;
		font-weight: 400;
		line-height: 1.8;
		color: #0a0a0a;
	}

	// Can't find the option to unhide this
	label[for^="give-donation-level-select"] {
		display: inline-block;
		width: 100%;
	}

}