{
    "presets": [
        "es2015"
    ],
    "plugins": [
        [
            "transform-react-jsx",
            {
                "pragma": "wp.element.createElement"
            }
        ]
    ],
    "compact": false
}