.lfl-graph {
    
    // Base Padding on Column Gutters for a consistent feel
    $small-padding: map-get( $grid-column-gutter, 'small' );
    $medium-padding: map-get( $grid-column-gutter, 'medium' );
    
    padding: $small-padding;
    
    @media #{$medium-up} {
        padding: $medium-padding;
    }
	
	@media #{$small-only} {
		
		&, & > .row {
		
			margin-top: 0 !important;
			
		}
		
	}
	
	@media screen and (min-width: #{lower-bound($medium-range)}) and (max-width: 1385px) {
		
		& > .row {
			margin-top: -200px !important;
		}
		
	}
	
	@media screen and (min-width: 1386px) and (max-width: #{lower-bound($xlarge-range)}) {
		
		& > .row {
			margin-top: -350px !important;
		}
		
	}
	
	@media #{$xlarge-up} {
		
		& > .row {
			margin-top: -375px !important;
		}
		
	}
	
}